# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/
ENV/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/


# =========================
# Results / outputs (IMPORTANT)
# =========================

# =========================
# Temporary / cache
# =========================
*.tmp
*.temp

# =========================
# Environment variables
# =========================
.env

# =========================
# Deep learning cache
# =========================
.dde/